.__flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.__height-initial {
    height: initial !important;
}
.select2-container {
    color: black !important;
}

#listado{
    background-color: rgba(255,255,255, 0.1) !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
}

#mymodal{
    color: black !important;
}

#myFooter{
    color: rgb(102, 150, 240);
}


.card {
    position: relative;
    width: 60px;
  }
   
  .element {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  #artists_dropdown2{
    width: 28.3em !important;
  }

  .topnav a {
    padding-right: 1px !important;
    padding-left: 20px !important;
}

#myImg{
    width: 260px;
    height: 390px;
}

#myLetter{
    font-size: 300% !important;
}

.tm-shop-img {
    background-image: url('../img/shop-concert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

.border-top {
    border-top: 1px solid #edf0f5 !important; }
  
  .site-footer {
    padding: 4em 0; }
    .site-footer ul li {
      margin-bottom: 10px; }
      .site-footer ul li a {
        color: #5c626e; }
        .site-footer ul li a:hover {
          color: #7971ea; }
    .site-footer .footer-heading {
      font-size: 20px;
      color: #25262a; }
/* nac */
#nav-primary {
    position: absolute;
    z-index: 9;
    display: block;
    top: 20px;
    left: 10px;
}
#nav-primary .navbar-nav {
    padding: 30px;
    background: black none repeat scroll 0% 0%;
    border-radius: 6px;
    border: 1px solid rgb(42, 42, 42);
}
#nav-primary a {
    color: #FFF;
}